export(get)
export(tab)
export(filter_dupes)
export(fix_names)
export(d)
export(`%notin%`)
export(left_join0)
export(rows)
export(percent)
export(summarise_cis)

export(c1)
export(gg_y_percent)
export(gg_y_big)
export(gg_x_rotate)
export(gg_x_wrap)
export(gg_y_zero)
export(gg_legend_remove)
export(gg_legend_notitle)
export(gg_legend_bottom)
export(gg_regression_line)
export(gg_loess_line)
export(gg_y_remove)
export(gg_x_remove)

export(summarise)
